
<div class="wrapper">
  <div class="row">
    <div class="col-sm-4 text-center">
      <%= render "shared/user_profile" %>
      <h1><%= current_user.name %></h1>
      <h1>Other Shit</h1>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 text-center">
          <h3>Here is who you own and when!</h3>
          <ul class="profile-item list-group">
           <% @meetings.each do |meeting| %>
           <%= render "meetings/meeting", locals: {meeting: meeting} %>
           <% end %>
         </ul>
       </div>
       <div class="col-sm-6 text-center">
        <h3>Here are the votes you've boutght!</h3>
         <ul class="profile-item list-group">
           <% @votes.each do |meeting| %>
           <%= render "meetings/meeting", locals: {meeting: meeting} %>
           <% end %>
         </ul>
       </div>
     </div>
     <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "See The Naughty Lobby", politicians_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
