<%= render 'shared/flashes' %>
<div class="wrapper">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="profile-summary user-profile">
        <%= render "shared/user_profile" %>
        <div class="list-inline">
          <li class="first-name"><%= current_user.name.split(' ').first %></li>
          <li class="last-name"><%= current_user.name.split(' ').last %></li>
          <h5>email: <%= current_user.email %></h5>
          <%= link_to "Edit profile picture", edit_user_path(current_user), class: "btn btn-primary btn-lg" %>
        </div>
        <div class="profile-summary">
          <%= link_to "See The Naughty Lobby", politicians_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="profile-summary list-summary">
            <h4>Here is who you own and when!</h4>
            <h6>(Click to delete)</h6>
            <ul class="profile-item list-group">
             <% @meetings.each do |meeting| %>
             <%= render "meetings/meeting", locals: {meeting: meeting} %>
             <% end %>
           </div>
         </ul>
       </div>
       <div class="col-sm-6 text-center">
        <div class="profile-summary list-summary">
          <h4>Here are the votes you've bought!</h4>
          <h6>(Click to delete)</h6>
          <ul class="profile-item list-group">
           <% @votes.each do |vote| %>
           <%= render "votes/vote", locals: {vote: vote} %>
           <% end %>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
