<div class="wrapper review">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <% if @review.used_services %>
      <div class="verified_review">
          <i class="fa fa-check"></i>
      </div>
    <% end %>
      <div class="review-title">
        <span><h3>Title:</h3></span>
        <span><%= @review.title %></span>
      </div>
      <div class="review-rating">
        <%= @review.rating %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="review-description">
      <%= @review.description %>
    </div>
    <div class="review-author">
      <%= @review.user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col sm-3 col-offset-4">
      <%= link_to "back", politician_path(@politician)%>
    </div>
  </div>
</div>
