<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="politician">
    <div class="politician-photo" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= cl_image_path politician.photo_url %>) center / cover no-repeat;">
      <%= link_to "Click to Lobby", politician_path(politician), class: "btn btn-primary btn-lg algin-content politian-button" %>
    </div>
    <div class="politician-details">
      <div class="politician-name">
        <p><%= politician.name.capitalize %></p>
      </div>
      <div class="politician-row">
        <span class="politicians-tagline">
          <p><%= politician.tag_line  %></p>
        </span>
        <span class="politician-reviews_count">
          <h5>Average Rating: <%= politician.avg_rating %> out of 10 <h6>(Number of Reviews: <%= politician.reviews.size %>)</h6></h5>
        </span>
        <span class="politician-reviews_count">
        </span>
      </div>
    </div>
  </div>
</div>
